body {
    background-color: #FFBBD0;
}

.pixel-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36em;
    height: 33em;
}

.pixelized--padme {
    display: block;
    width: 1em;
    height: 1em;
    box-shadow:

        19em 00em #FF9800,

        18em 01em #FF9800,
        19em 01em #ED5353,
        20em 01em #FF9800,

        06em 02em #ED5353,
        07em 02em #ED5353,
        19em 02em #FF9800,
        31em 02em #ED5353,
        32em 02em #ED5353,

        06em 03em #FF9800,
        07em 03em #FF9800,
        08em 03em #ED5353,
        16em 03em #212121,
        17em 03em #212121,
        18em 03em #FF9800,
        19em 03em #ED5353,
        20em 03em #FF9800,
        21em 03em #212121,
        22em 03em #212121,
        30em 03em #ED5353,
        31em 03em #FF9800,
        32em 03em #FF9800,

        07em 04em #FF9800,
        08em 04em #ED5353,
        10em 04em #212121,
        11em 04em #212121,
        12em 04em #212121,
        15em 04em #795548,
        16em 04em #795548,
        17em 04em #FF9800,
        18em 04em #ED5353,
        19em 04em #ED5353,
        20em 04em #ED5353,
        21em 04em #FF9800,
        22em 04em #795548,
        23em 04em #795548,
        26em 04em #212121,
        27em 04em #212121,
        28em 04em #212121,
        30em 04em #ED5353,
        31em 04em #FF9800,

        07em 05em #FF9800,
        08em 05em #ED5353,
        09em 05em #212121,
        10em 05em #795548,
        11em 05em #795548,
        12em 05em #795548,
        13em 05em #212121,
        14em 05em #212121,
        15em 05em #795548,
        16em 05em #795548,
        17em 05em #FF9800,
        18em 05em #ED5353,
        19em 05em #ED5353,
        20em 05em #ED5353,
        21em 05em #FF9800,
        22em 05em #795548,
        23em 05em #795548,
        24em 05em #212121,
        25em 05em #212121,
        26em 05em #795548,
        27em 05em #795548,
        28em 05em #795548,
        29em 05em #212121,
        30em 05em #ED5353,
        31em 05em #FF9800,

        07em 06em #FF9800,
        08em 06em #ED5353,
        09em 06em #212121,
        10em 06em #795548,
        11em 06em #795548,
        12em 06em #795548,
        13em 06em #795548,
        14em 06em #795548,
        15em 06em #212121,
        16em 06em #212121,
        17em 06em #FF9800,
        18em 06em #ED5353,
        19em 06em #212121,
        20em 06em #ED5353,
        21em 06em #FF9800,
        22em 06em #212121,
        23em 06em #212121,
        24em 06em #795548,
        25em 06em #795548,
        26em 06em #795548,
        27em 06em #795548,
        28em 06em #795548,
        29em 06em #212121,
        30em 06em #ED5353,
        31em 06em #FF9800,

        07em 07em #FF9800,
        08em 07em #ED5353,
        09em 07em #212121,
        10em 07em #795548,
        11em 07em #795548,
        12em 07em #795548,
        13em 07em #212121,
        14em 07em #212121,
        15em 07em #FF9800,
        16em 07em #FF9800,
        17em 07em #FF9800,
        18em 07em #ED5353,
        19em 07em #212121,
        20em 07em #ED5353,
        21em 07em #FF9800,
        22em 07em #FF9800,
        23em 07em #FF9800,
        24em 07em #212121,
        25em 07em #212121,
        26em 07em #795548,
        27em 07em #795548,
        28em 07em #795548,
        29em 07em #212121,
        30em 07em #ED5353,
        31em 07em #FF9800,

        07em 08em #FF9800,
        08em 08em #ED5353,
        09em 08em #212121,
        10em 08em #795548,
        11em 08em #795548,
        12em 08em #212121,
        13em 08em #FF9800,
        14em 08em #FF9800,
        15em 08em #FF9800,
        16em 08em #FF9800,
        17em 08em #FF9800,
        18em 08em #ED5353,
        19em 08em #212121,
        20em 08em #ED5353,
        21em 08em #FF9800,
        22em 08em #FF9800,
        23em 08em #FF9800,
        24em 08em #FF9800,
        25em 08em #FF9800,
        26em 08em #212121,
        27em 08em #795548,
        28em 08em #795548,
        29em 08em #212121,
        30em 08em #ED5353,
        31em 08em #FF9800,

        07em 09em #FF9800,
        08em 09em #ED5353,
        09em 09em #212121,
        10em 09em #795548,
        11em 09em #212121,
        12em 09em #FF9800,
        13em 09em #FF9800,
        14em 09em #FF9800,
        15em 09em #FF9800,
        16em 09em #FF9800,
        17em 09em #FF9800,
        18em 09em #ED5353,
        19em 09em #ED5353,
        20em 09em #ED5353,
        21em 09em #FF9800,
        22em 09em #FF9800,
        23em 09em #FF9800,
        24em 09em #FF9800,
        25em 09em #FF9800,
        26em 09em #FF9800,
        27em 09em #212121,
        28em 09em #795548,
        29em 09em #212121,
        30em 09em #ED5353,
        31em 09em #FF9800,

        06em 10em #212121,
        07em 10em #212121,
        08em 10em #FF9800,
        09em 10em #ED5353,
        10em 10em #212121,
        11em 10em #FF9800,
        12em 10em #FF9800,
        13em 10em #FF9800,
        14em 10em #FF9800,
        15em 10em #FF9800,
        16em 10em #FF9800,
        17em 10em #FF9800,
        18em 10em #ED5353,
        19em 10em #ED5353,
        20em 10em #ED5353,
        21em 10em #FF9800,
        22em 10em #FF9800,
        23em 10em #FF9800,
        24em 10em #FF9800,
        25em 10em #FF9800,
        26em 10em #FF9800,
        27em 10em #FF9800,
        28em 10em #212121,
        29em 10em #ED5353,
        30em 10em #FF9800,
        31em 10em #212121,
        32em 10em #212121,

        05em 11em #212121,
        06em 11em #795548,
        07em 11em #795548,
        08em 11em #212121,
        09em 11em #212121,
        10em 11em #ED5353,
        11em 11em #FF9800,
        12em 11em #FF9800,
        13em 11em #FF9800,
        14em 11em #FF9800,
        15em 11em #FFFFFF,
        16em 11em #FFFFFF,
        17em 11em #FFFFFF,
        18em 11em #FF9800,
        19em 11em #ED5353,
        19em 11em #ED5353,
        20em 11em #FF9800,
        21em 11em #FFFFFF,
        22em 11em #FFFFFF,
        23em 11em #FFFFFF,
        24em 11em #FF9800,
        25em 11em #FF9800,
        26em 11em #FF9800,
        27em 11em #FF9800,
        28em 11em #ED5353,
        29em 11em #212121,
        30em 11em #212121,
        31em 11em #795548,
        32em 11em #795548,
        33em 11em #212121,

        05em 12em #212121,
        06em 12em #795548,
        07em 12em #795548,
        08em 12em #795548,
        09em 12em #212121,
        10em 12em #ED5353,
        11em 12em #FF9800,
        12em 12em #FF9800,
        13em 12em #FF9800,
        14em 12em #FFFFFF,
        15em 12em #FFFFFF,
        16em 12em #FFFFFF,
        17em 12em #FF9800,
        18em 12em #ED5353,
        19em 12em #ED5353,
        20em 12em #ED5353,
        21em 12em #FF9800,
        22em 12em #FFFFFF,
        23em 12em #FFFFFF,
        24em 12em #FFFFFF,
        25em 12em #FF9800,
        26em 12em #FF9800,
        27em 12em #FF9800,
        28em 12em #ED5353,
        29em 12em #212121,
        30em 12em #795548,
        31em 12em #795548,
        32em 12em #795548,
        33em 12em #212121,

        05em 13em #212121,
        06em 13em #795548,
        07em 13em #795548,
        08em 13em #795548,
        09em 13em #212121,
        10em 13em #ED5353,
        11em 13em #FF9800,
        12em 13em #FFFFFF,
        13em 13em #FFFFFF,
        14em 13em #FFFFFF,
        15em 13em #FFFFFF,
        16em 13em #FFFFFF,
        17em 13em #FFFFFF,
        18em 13em #FF9800,
        19em 13em #ED5353,
        20em 13em #FF9800,
        21em 13em #FFFFFF,
        22em 13em #FFFFFF,
        23em 13em #FFFFFF,
        24em 13em #FFFFFF,
        25em 13em #FFFFFF,
        26em 13em #FFFFFF,
        27em 13em #FF9800,
        28em 13em #ED5353,
        29em 13em #212121,
        30em 13em #795548,
        31em 13em #795548,
        32em 13em #795548,
        33em 13em #212121,

        05em 14em #212121,
        06em 14em #795548,
        07em 14em #795548,
        08em 14em #212121,
        09em 14em #FF9800,
        10em 14em #ED5353,
        11em 14em #FFFFFF,
        12em 14em #FFFFFF,
        13em 14em #FFFFFF,
        14em 14em #FFFFFF,
        15em 14em #FFFFFF,
        16em 14em #FFFFFF,
        17em 14em #FFFFFF,
        18em 14em #FFFFFF,
        19em 14em #FF9800,
        20em 14em #FFFFFF,
        21em 14em #FFFFFF,
        22em 14em #FFFFFF,
        23em 14em #FFFFFF,
        24em 14em #FFFFFF,
        25em 14em #FFFFFF,
        26em 14em #FFFFFF,
        27em 14em #FFFFFF,
        28em 14em #ED5353,
        29em 14em #FF9800,
        30em 14em #212121,
        31em 14em #795548,
        32em 14em #795548,
        33em 14em #212121,

        05em 15em #212121,
        06em 15em #795548,
        07em 15em #795548,
        08em 15em #212121,
        09em 15em #FF9800,
        10em 15em #FF9800,
        11em 15em #ED5353,
        12em 15em #FFFFFF,
        13em 15em #212121,
        14em 15em #212121,
        15em 15em #FFFFFF,
        16em 15em #FFFFFF,
        17em 15em #FFFFFF,
        18em 15em #FFFFFF,
        19em 15em #FFFFFF,
        20em 15em #FFFFFF,
        21em 15em #FFFFFF,
        22em 15em #FFFFFF,
        23em 15em #FFFFFF,
        24em 15em #212121,
        25em 15em #212121,
        26em 15em #FFFFFF,
        27em 15em #ED5353,
        28em 15em #FF9800,
        29em 15em #FF9800,
        30em 15em #212121,
        31em 15em #795548,
        32em 15em #795548,
        33em 15em #212121,

        05em 16em #212121,
        06em 16em #795548,
        07em 16em #795548,
        08em 16em #212121,
        09em 16em #FF9800,
        10em 16em #FF9800,
        11em 16em #ED5353,
        12em 16em #FFFFFF,
        13em 16em #212121,
        14em 16em #212121,
        15em 16em #FFFFFF,
        16em 16em #FFFFFF,
        17em 16em #FFFFFF,
        18em 16em #FFFFFF,
        19em 16em #FFFFFF,
        20em 16em #FFFFFF,
        21em 16em #FFFFFF,
        22em 16em #FFFFFF,
        23em 16em #FFFFFF,
        24em 16em #212121,
        25em 16em #212121,
        26em 16em #FFFFFF,
        27em 16em #ED5353,
        28em 16em #FF9800,
        29em 16em #FF9800,
        30em 16em #212121,
        31em 16em #795548,
        32em 16em #795548,
        33em 16em #212121,

        05em 17em #212121,
        06em 17em #795548,
        07em 17em #795548,
        08em 17em #212121,
        09em 17em #FF9800,
        10em 17em #FF9800,
        11em 17em #ED5353,
        12em 17em #FFFFFF,
        13em 17em #212121,
        14em 17em #212121,
        15em 17em #FFFFFF,
        16em 17em #FFFFFF,
        17em 17em #FFFFFF,
        18em 17em #FFFFFF,
        19em 17em #FFFFFF,
        20em 17em #FFFFFF,
        21em 17em #FFFFFF,
        22em 17em #FFFFFF,
        23em 17em #FFFFFF,
        24em 17em #212121,
        25em 17em #212121,
        26em 17em #FFFFFF,
        27em 17em #ED5353,
        28em 17em #FF9800,
        29em 17em #FF9800,
        30em 17em #212121,
        31em 17em #795548,
        32em 17em #795548,
        33em 17em #212121,

        05em 18em #212121,
        06em 18em #795548,
        07em 18em #795548,
        08em 18em #212121,
        09em 18em #FF9800,
        10em 18em #FF9800,
        11em 18em #ED5353,
        12em 18em #FFFFFF,
        13em 18em #FFFFFF,
        14em 18em #FFFFFF,
        15em 18em #FFFFFF,
        16em 18em #FFFFFF,
        17em 18em #FFFFFF,
        18em 18em #FF9800,
        19em 18em #FF9800,
        20em 18em #FF9800,
        21em 18em #FFFFFF,
        22em 18em #FFFFFF,
        23em 18em #FFFFFF,
        24em 18em #FFFFFF,
        25em 18em #FFFFFF,
        26em 18em #FFFFFF,
        27em 18em #ED5353,
        28em 18em #FF9800,
        29em 18em #FF9800,
        30em 18em #212121,
        31em 18em #795548,
        32em 18em #795548,
        33em 18em #212121,

        06em 19em #212121,
        07em 19em #795548,
        08em 19em #795548,
        09em 19em #212121,
        10em 19em #FF9800,
        11em 19em #ED5353,
        12em 19em #FFFFFF,
        13em 19em #FFFFFF,
        14em 19em #ED5353,
        15em 19em #FFFFFF,
        16em 19em #FFFFFF,
        17em 19em #FFFFFF,
        18em 19em #FF9800,
        19em 19em #FF9800,
        20em 19em #FF9800,
        21em 19em #FFFFFF,
        22em 19em #FFFFFF,
        23em 19em #FFFFFF,
        24em 19em #ED5353,
        25em 19em #FFFFFF,
        26em 19em #FFFFFF,
        27em 19em #ED5353,
        28em 19em #FF9800,
        29em 19em #212121,
        30em 19em #795548,
        31em 19em #795548,
        32em 19em #212121,

        07em 20em #212121,
        08em 20em #212121,
        09em 20em #212121,
        10em 20em #FF9800,
        11em 20em #ED5353,
        12em 20em #ED5353,
        13em 20em #FFFFFF,
        14em 20em #FFFFFF,
        15em 20em #FFFFFF,
        16em 20em #FFFFFF,
        17em 20em #FFFFFF,
        18em 20em #FFFFFF,
        19em 20em #FFFFFF,
        20em 20em #FFFFFF,
        21em 20em #FFFFFF,
        22em 20em #FFFFFF,
        23em 20em #FFFFFF,
        24em 20em #FFFFFF,
        25em 20em #FFFFFF,
        26em 20em #ED5353,
        27em 20em #ED5353,
        28em 20em #FF9800,
        29em 20em #212121,
        30em 20em #212121,
        31em 20em #212121,

        10em 21em #212121,
        11em 21em #FF9800,
        12em 21em #ED5353,
        13em 21em #FFFFFF,
        14em 21em #FFFFFF,
        15em 21em #FFFFFF,
        16em 21em #FFFFFF,
        17em 21em #FFFFFF,
        18em 21em #FFFFFF,
        19em 21em #FFFFFF,
        20em 21em #FFFFFF,
        21em 21em #FFFFFF,
        22em 21em #FFFFFF,
        23em 21em #FFFFFF,
        24em 21em #FFFFFF,
        25em 21em #FFFFFF,
        26em 21em #ED5353,
        27em 21em #FF9800,
        28em 21em #212121,

        11em 22em #212121,
        12em 22em #212121,
        13em 22em #ED5353,
        14em 22em #FFFFFF,
        15em 22em #FFFFFF,
        16em 22em #FFFFFF,
        17em 22em #FFFFFF,
        18em 22em #FFFFFF,
        19em 22em #FFFFFF,
        20em 22em #FFFFFF,
        21em 22em #FFFFFF,
        22em 22em #FFFFFF,
        23em 22em #FFFFFF,
        24em 22em #FFFFFF,
        25em 22em #ED5353,
        26em 22em #212121,
        27em 22em #212121,

        13em 23em #212121,
        14em 23em #ED5353,
        15em 23em #212121,
        16em 23em #212121,
        17em 23em #212121,
        18em 23em #212121,
        19em 23em #212121,
        20em 23em #212121,
        21em 23em #212121,
        22em 23em #212121,
        23em 23em #212121,
        24em 23em #ED5353,
        25em 23em #212121,

        11em 24em #212121,
        12em 24em #212121,
        13em 24em #FF9800,
        14em 24em #ED5353,
        15em 24em #ED5353,
        16em 24em #ED5353,
        17em 24em #ED5353,
        18em 24em #ED5353,
        19em 24em #ED5353,
        20em 24em #ED5353,
        21em 24em #ED5353,
        22em 24em #ED5353,
        23em 24em #ED5353,
        24em 24em #ED5353,
        25em 24em #FF9800,
        26em 24em #212121,
        27em 24em #212121,

        09em 25em #212121,
        10em 25em #212121,
        11em 25em #ED5353,
        12em 25em #ED5353,
        13em 25em #ED5353,
        14em 25em #FF9800,
        15em 25em #ED5353,
        16em 25em #ED5353,
        17em 25em #ED5353,
        18em 25em #ED5353,
        19em 25em #ED5353,
        20em 25em #ED5353,
        21em 25em #ED5353,
        22em 25em #ED5353,
        23em 25em #ED5353,
        24em 25em #FF9800,
        25em 25em #ED5353,
        26em 25em #ED5353,
        27em 25em #ED5353,
        28em 25em #212121,
        29em 25em #212121,

        08em 26em #212121,
        09em 26em #ED5353,
        10em 26em #ED5353,
        11em 26em #ED5353,
        12em 26em #ED5353,
        13em 26em #ED5353,
        14em 26em #ED5353,
        15em 26em #212121,
        16em 26em #ED5353,
        17em 26em #ED5353,
        18em 26em #ED5353,
        19em 26em #ED5353,
        20em 26em #ED5353,
        21em 26em #ED5353,
        22em 26em #ED5353,
        23em 26em #212121,
        24em 26em #ED5353,
        25em 26em #ED5353,
        26em 26em #ED5353,
        27em 26em #ED5353,
        28em 26em #ED5353,
        29em 26em #ED5353,
        30em 26em #212121,

        09em 27em #212121,
        10em 27em #212121,
        11em 27em #212121,
        12em 27em #212121,
        13em 27em #212121,
        14em 27em #212121,
        15em 27em #ED5353,
        16em 27em #212121,
        17em 27em #212121,
        18em 27em #ED5353,
        19em 27em #ED5353,
        20em 27em #ED5353,
        21em 27em #212121,
        22em 27em #212121,
        23em 27em #ED5353,
        24em 27em #212121,
        25em 27em #212121,
        26em 27em #212121,
        27em 27em #212121,
        28em 27em #212121,
        29em 27em #212121,

        09em 28em #212121,
        10em 28em #FFFFFF,
        11em 28em #FFFFFF,
        12em 28em #212121,
        13em 28em #ED5353,
        14em 28em #ED5353,
        15em 28em #ED5353,
        16em 28em #ED5353,
        17em 28em #ED5353,
        18em 28em #212121,
        19em 28em #212121,
        20em 28em #212121,
        21em 28em #ED5353,
        22em 28em #ED5353,
        23em 28em #ED5353,
        24em 28em #ED5353,
        25em 28em #ED5353,
        26em 28em #212121,
        27em 28em #FFFFFF,
        28em 28em #FFFFFF,
        29em 28em #212121,

        09em 29em #212121,
        10em 29em #FFFFFF,
        11em 29em #FFFFFF,
        12em 29em #212121,
        13em 29em #ED5353,
        14em 29em #ED5353,
        15em 29em #ED5353,
        16em 29em #ED5353,
        17em 29em #ED5353,
        18em 29em #212121,
        19em 29em #FF9800,
        20em 29em #212121,
        21em 29em #ED5353,
        22em 29em #ED5353,
        23em 29em #ED5353,
        24em 29em #ED5353,
        25em 29em #ED5353,
        26em 29em #212121,
        27em 29em #FFFFFF,
        28em 29em #FFFFFF,
        29em 29em #212121,

        10em 30em #212121,
        11em 30em #212121,
        12em 30em #212121,
        13em 30em #ED5353,
        14em 30em #ED5353,
        15em 30em #ED5353,
        16em 30em #ED5353,
        17em 30em #ED5353,
        18em 30em #212121,
        19em 30em #FF9800,
        20em 30em #212121,
        21em 30em #ED5353,
        22em 30em #ED5353,
        23em 30em #ED5353,
        24em 30em #ED5353,
        25em 30em #ED5353,
        26em 30em #212121,
        27em 30em #212121,
        28em 30em #212121,

        12em 31em #212121,
        13em 31em #ED5353,
        14em 31em #ED5353,
        15em 31em #ED5353,
        16em 31em #ED5353,
        17em 31em #ED5353,
        18em 31em #212121,
        19em 31em #FF9800,
        20em 31em #212121,
        21em 31em #ED5353,
        22em 31em #ED5353,
        23em 31em #ED5353,
        24em 31em #ED5353,
        25em 31em #ED5353,
        26em 31em #212121,

        11em 32em #212121,
        12em 32em #ED5353,
        13em 32em #ED5353,
        14em 32em #ED5353,
        15em 32em #ED5353,
        16em 32em #ED5353,
        17em 32em #ED5353,
        18em 32em #ED5353,
        19em 32em #212121,
        20em 32em #ED5353,
        21em 32em #ED5353,
        22em 32em #ED5353,
        23em 32em #ED5353,
        24em 32em #ED5353,
        25em 32em #ED5353,
        26em 32em #ED5353,
        27em 32em #212121,

        11em 33em #212121,
        12em 33em #ED5353,
        13em 33em #ED5353,
        14em 33em #ED5353,
        15em 33em #ED5353,
        16em 33em #ED5353,
        17em 33em #ED5353,
        18em 33em #ED5353,
        19em 33em #ED5353,
        20em 33em #ED5353,
        21em 33em #ED5353,
        22em 33em #ED5353,
        23em 33em #ED5353,
        24em 33em #ED5353,
        25em 33em #ED5353,
        26em 33em #ED5353,
        27em 33em #212121,

        10em 34em #212121,
        11em 34em #ED5353,
        12em 34em #ED5353,
        13em 34em #ED5353,
        14em 34em #212121,
        15em 34em #ED5353,
        16em 34em #ED5353,
        17em 34em #ED5353,
        18em 34em #ED5353,
        19em 34em #212121,
        20em 34em #ED5353,
        21em 34em #ED5353,
        22em 34em #ED5353,
        23em 34em #ED5353,
        24em 34em #212121,
        25em 34em #ED5353,
        26em 34em #ED5353,
        27em 34em #ED5353,
        28em 34em #212121,

        10em 35em #212121,
        11em 35em #ED5353,
        12em 35em #ED5353,
        13em 35em #ED5353,
        14em 35em #ED5353,
        15em 35em #ED5353,
        16em 35em #ED5353,
        17em 35em #ED5353,
        18em 35em #ED5353,
        19em 35em #ED5353,
        20em 35em #ED5353,
        21em 35em #ED5353,
        22em 35em #ED5353,
        23em 35em #ED5353,
        24em 35em #ED5353,
        25em 35em #ED5353,
        26em 35em #ED5353,
        27em 35em #ED5353,
        28em 35em #212121,

        09em 36em #EF9A9A,
        10em 36em #EF9A9A,
        11em 36em #212121,
        12em 36em #212121,
        13em 36em #212121,
        14em 36em #212121,
        15em 36em #212121,
        16em 36em #212121,
        17em 36em #212121,
        18em 36em #212121,
        19em 36em #212121,
        20em 36em #212121,
        21em 36em #212121,
        22em 36em #212121,
        23em 36em #212121,
        24em 36em #212121,
        25em 36em #212121,
        26em 36em #212121,
        27em 36em #212121,
        28em 36em #EF9A9A,
        29em 36em #EF9A9A;


}
